<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <title>FM.Welding</title>
</head>
<body>
    <div class="header">
    	<div class="header_logo">
			<p></p>
    	</div>
    	<div class="header_content">
    		<a href="./index.html"><p>home</p></a>
    		<a href="#" id="nav_offer"><p>services</p></a>
    		<a href="#" id="nav_about"><p>about</p></a>
    		<a href="#" id="nav_projects"><p>projects</p></a>
    		<a href="#" id="nav_contact"><p>contact</p></a>
        <div class="lang_bar">
		      <a href="./index.html">EST</a>
		      |
          <a href="./rus.html">RUS</a>
        </div>
    	</div>
    </div>
    <div class="burger_menu">
    	<img class="burger_open" src="./img/burger/menu.svg" alt="MENU">
    	<img class="burger_close" src="./img/burger/close.svg" alt="CLOSE">
    	<div class="burger_content">
    		<a href="./index.html"><p>home</p></a>
    		<a href="#service"><p>services</p></a>
    		<a href="#about"><p>about</p></a>
    		<a href="./projects.html"><p>projects</p></a>
    		<a href="#contact"><p>contact</p></a>
			<a class="burger_content_gold" href="./eng.html"><p>ENG</p></a>
			<a class="burger_content_gold" href="./rus.html"><p>RUS</p></a>
    	</div>
    </div>
    <div class="main container">
        <div class="fullscreen-video-wrap">
		  <video autoplay loop muted id="myVideo">
				<source src="./img/header/welder.mov" type="video/mov">
				<source src="./img/header/welder.webm" type="video/webm">	
				<source src="./img/header/welder.mp4" type="video/mp4">
		  </video>
        </div>
        <div class="main_overlay"></div>
        <div class="main_content">
          <h1>F.M Welding</h1>
          <p></p>
          <a class="main_btn">About</a>
        </div>
      </div>
      	<div class="service" id="service">
      		<h1>services</h1>
      		<hr>
      	</div>

      	<div class="service_wrap">
      		<div class="service_block">
				<img src="./img/service/welding.jpg" alt="weld">
      			<div class="block_descr">
      				<h3>Welding</h3>
      				<p>We carry out all types of welding work - including welding of non-ferrous metals (aluminum, copper, brass, titanium, stainless steel)</p>
      			</div>
      		</div>
      		<div class="service_block">
				<img src="./img/service/check.jpeg" alt="check">
      			<div class="block_descr">
      				<h3>Control</h3>
      				<p>Hardness measurement, control and accompanying documentation, control of welding</p>
      			</div>
      			
      		</div>
      		<div class="service_block">
				<img src="./img/service/montage.jpg" alt="montage">
      			<div class="block_descr">
      				<h3>Assembly of metal structures</h3>
      				<p>We carry out both small and large-scale works. Specialty solutions are our specialty. We want to create high quality, lasting solutions and realize your vision as a customer.</p>
      			</div>
      			
      		</div>
      		<div class="service_block">
				<img src="./img/service/forge.jpg" alt="forge">
      			<div class="block_descr">
      				<h3>Welding</h3>
      				<p>Our clients are construction shops and home goods sellers both in Estonia and abroad.</p>
      			</div>
      			
      		</div>
		
      		<div class="service_block">
				<img src="./img/service/vent.jpg" alt="vent">
      			<div class="block_descr">
      				<h3>Ventilation systems</h3>
      				<p>Installation and maintenance of ventilation systems.</p>
      			</div>
      			
      		</div>	
      	</div>
        <div class="about" id="about">
          <h1>about</h1>
          <hr>
        </div>
        <div class="about_content">
          <div class="about_content__text">
            <p>Our priorities: speed, quality, technology. Purpose: company development focusing on the needs and desires of customers. Vision: to become a team of experts in the field of metallurgy</p>
            <p>Founded in 2017, F.M Welding OÜ offers metalworking and forging services.</p>
            <p>Modern professional tools, highly qualified specialists, strict adherence to conditions and regulatory requirements are the criteria that ensure the success of welding work. Only filigree accuracy and a professional approach to this category of work can guarantee the success of the welding process.</p>
          </div>
          <div class="about_content__img">
            <img src="./img/about/about.jpg" alt="about">
          </div>
        </div>
      	<div class="projects" id="projects">
      		<h1>projects</h1>
      		<hr>
      	</div>
      	<div class="projects_content">
      		<div class="project_block first_project">
      			<div class="project_descr">
      				<h1>Project</h1>
      				<p>Our work</p>
      				<a href="./projects.html"><button>Gallery</button></a>
      			</div>
      		</div>
      		<div class="project_block second_project">
      			<div class="project_descr">
      				<h1>Project</h1>
      				<p>Our work</p>
      				<a href="./projects.html"><button>Gallery</button></a>
      			</div>
      		</div>
      		<div class="project_block third_project">
      			<div class="project_descr">
      				<h1>Project</h1>
      				<p>Our work</p>
      				<a href="./projects.html"><button>Gallery</button></a>
      			</div>
      		</div>
      		<div class="project_block fourth_project">
      			<div class="project_descr">
      				<h1>Project</h1>
      				<p>Our work</p>
      				<a href="./projects.html"><button>Gallery</button></a>
      			</div>
      		</div>
      		<div class="project_block fourth_project">
      			<div class="project_descr">
      				<h1>Project</h1>
      				<p>Our work</p>
      				<a href="./projects.html"><button>Gallery</button></a>
      			</div>
      		</div>
      		<div class="project_block fourth_project">
      			<div class="project_descr">
      				<h1>Project</h1>
      				<p>Our work</p>
      				<a href="./projects.html"><button>Gallery</button></a>
      			</div>
      		</div>
      	</div>
      	<div class="clients">
      		<h1>clients</h1>
      		<hr>
      	</div>
      	<div class="clients_descr">
				<img src="./img/clients/merko.png" alt="merko">
				<img src="./img/clients/maru.png" alt="maru">
				<img src="./img/clients/adven.png" alt="adven">
				<img src="./img/clients/logicon.png" alt="logicon">
				<img src="./img/clients/tavepro.png" alt="tavepro">
				<img src="./img/clients/moodul.png" alt="moodul">
      	</div>
      	<div class="contact" id="contact">
      		<h1>contact</h1>
     		<hr>
      	</div>
      	<div class="contact_descr">
      		<div class="mapouter"><div class="gmap_canvas"><iframe width="900" height="390" id="gmap_canvas" src="https://maps.google.com/maps?q=Tornim%C3%A4e%205%2C%2010145%20Tallinn&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.bitgeeks.net">bitgeeks</a></div><style>.mapouter{position:relative;text-align:right;height:390px;width:900px;}.gmap_canvas {overflow:hidden;background:none!important;height:390px;width:900px;}</style></div>
      	</div>

      	<div class="contact_form">
      		<div class="contact_fields">
      			<h3>We will answer your questions</h3>
      			<p>
					We will be happy to answer all your questions by phone:<br> <span>+372 56 906 471</span> . <br>Or simply fill out the form below:</p>
           <!-- <form class="form" id="form" name="form">
      			   <input type="text" placeholder="Имя *" name="name" required="">
      			   <input type="text" placeholder="E-Mail *" name="mail" required="">
      			   <textarea name="" id="" cols="30" rows="10" placeholder="Сообщение" name="message"></textarea>
      			   <button>Отправить</button>
            </form>
            -->
            
            <form class="form" id="form" name="form">
              <input class="wow animated slideInLeft" type="text" placeholder="Name" name="name" required>
              <input class="wow animated slideInLeft" type="text" placeholder="Enter e-mail" name="mail" required>
              <textarea class="wow animated slideInLeft" type="text" cols="30" rows="10" placeholder="Your Message" name="message" required></textarea>
              <button class="form-button contact_button wow animated slideInLeft">send</button>
            </form>
			<div class="mobile_info">
				<p>Võidujooksu 7a </p>
				<p>Tornimäe 5, 10145 Tallinn</p>
				<p>info@fmwelding.ee</p>
			</div>
      		</div>
      		<div class="contact_info">
      			<h3>Our office</h3>
      			<p>Võidujooksu 7a </p>
				<p>Tornimäe 5, 10145 Tallinn</p>
				<p>info@fmwelding.ee</p>
				<p>+372 56 906 471</p>
				<br>
				<h3>Want to collaborate?</h3>
				<p>Please send your resume and motivation letter to: <a href="">info@fmwelding.ee</a></p>
				<br>
				<hr>
				<br>
				<h4>Call:<a href=""> +372 56 906 471</a></h4>
      		</div>
      	</div>
      	<div class="footer">
          <div class="overlay js-overlay-thank-you">
            <div class="popup js-thank-you">
              <h2>Thanks!</h2>
              <div class="close-popup js-close-thank-you"></div>
            </div>
          </div>
      		<p>© 2023 Keevitus «F.M. Welding»</p>
      		<img src="./img/footer/fb.svg" alt="facebook">
      	</div>


      	<script
      	  src="https://code.jquery.com/jquery-3.4.1.min.js"
      	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      	  crossorigin="anonymous">
      	</script>
      	<script src="./js/script.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
