
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="./css/lightboxgallery-min.css">
    <link rel="stylesheet" href="./css/light.css">
    <title>FM.Welding</title>
</head>
<body>
    <div class="header">
    	<div class="header_logo">
    	</div>
    	<div class="header_content">
    		<a href="./index.html"><p>esileht</p></a>
    		<a href="#" id="nav_offer"><p>Teenused</p></a>
    		<a href="#" id="nav_about"><p>meist</p></a>
    		<a href="#" id="nav_projects"><p>projektid</p></a>
    		<a href="#" id="nav_contact"><p>kontakt</p></a>
        </div>
    	</div>
    </div>
    <div class="burger_menu">
    	<img class="burger_open" src="./img/burger/menu.svg" alt="MENU">
    	<img class="burger_close" src="./img/burger/close.svg" alt="CLOSE">
    	<div class="burger_content">
    		<a href="./index.html"><p>esileht</p></a>
    		<a href="#"><p>teenused</p></a>
    		<a href="#"><p>meist</p></a>
    		<a href="./projects.html"><p>projektid</p></a>
    		<a href="#"><p>kotakt</p></a>
        <a href="#"><p>ENG</p></a>
        <a href="#"><p>RUS</p></a>
    	</div>
    </div>
        <div class="gallery">
          <div class="container">
              <div class="lightboxgallery-gallery clearfix">
                <div class="free-space"></div>
                <a class="lightboxgallery-gallery-item" target="_blank" href="./img/gallery/1.jpg" data-title="Metal Rose" data-alt="Metal Rose" data-desc="Well done rose , crafted by older dwarfs in midgard xD">
                  <div>
                    <img src="./img/gallery/1.jpg">
                    <div class="lightboxgallery-gallery-item-content">
                      <span class="lightboxgallery-gallery-item-title">Metal Rose</span>
                    </div>
                  </div>
                </a>
                <a class="lightboxgallery-gallery-item" target="_blank" href="./img/gallery/2.jpg" data-title="Metal" data-alt="Metal" data-desc="Well done rose , crafted by older dwarfs in midgard xD">
                  <div>
                    <img src="./img/gallery/2.jpg">
                    <div class="lightboxgallery-gallery-item-content">
                      <span class="lightboxgallery-gallery-item-title">Metal</span>
                    </div>
                  </div>
                </a>
                <a class="lightboxgallery-gallery-item" target="_blank" href="./img/gallery/3.jpg" data-title="Ness Joshua" data-alt="Ness Joshua" data-desc="Well done rose , crafted by older dwarfs in midgard xD,Well done rose , crafted by older ">
                  <div>
                    <img src="./img/gallery/3.jpg" title="Ness Joshua" alt="Ness Joshua">
                    <div class="lightboxgallery-gallery-item-content">
                      <span class="lightboxgallery-gallery-item-title">Welding</span>
                    </div>
                  </div>
                </a>
                <div class="lightboxgallery-gallery clearfix">
                  <a class="lightboxgallery-gallery-item" target="_blank" href="./img/gallery/4.jpg" data-title="Metal Rose" data-alt="Metal Rose" data-desc="Well done rose , crafted by older dwarfs in midgard xD">
                    <div>
                      <img src="./img/gallery/4.jpg">
                      <div class="lightboxgallery-gallery-item-content">
                        <span class="lightboxgallery-gallery-item-title">Metal Rose</span>
                      </div>
                    </div>
                  </a>
                  <a class="lightboxgallery-gallery-item" target="_blank" href="./img/gallery/5.jpg" data-title="Metal" data-alt="Metal" data-desc="Well done rose , crafted by older dwarfs in midgard xD">
                    <div>
                      <img src="./img/gallery/5.jpg">
                      <div class="lightboxgallery-gallery-item-content">
                        <span class="lightboxgallery-gallery-item-title">Metal</span>
                      </div>
                    </div>
                  </a>
                  <a class="lightboxgallery-gallery-item" target="_blank" href="./img/gallery/6.jpg" data-title="Ness Joshua" data-alt="Ness Joshua" data-desc="Well done rose , crafted by older dwarfs in midgard xD,Well done rose , crafted by older dwarfs in mi">
                    <div>
                      <img src="./img/gallery/6.jpg" title="Ness Joshua" alt="Ness Joshua">
                      <div class="lightboxgallery-gallery-item-content">
                        <span class="lightboxgallery-gallery-item-title">Welding</span>
                      </div>
                    </div>
                  </a>
                  <a class="lightboxgallery-gallery-item" target="_blank" href="./img/projects/work_1.jpg" data-title="Ness Joshua" data-alt="Ness Joshua" data-desc="Well done rose , crafted by older dwarfs in midgard xD,Well done rose , crafted by o">
                    <div>
                      <img src="./img/projects/work_1.jpg" title="Ness Joshua" alt="Ness Joshua">
                      <div class="lightboxgallery-gallery-item-content">
                        <span class="lightboxgallery-gallery-item-title">Welding</span>
                      </div>
                    </div>
                  </a>
                  
                  <a class="lightboxgallery-gallery-item" target="_blank" href="/img/projects/work_2.jpg" data-title="Ness Joshua" data-alt="Ness Joshua" data-desc="Well done rose , crafted by older dwarfs in midgard xD,Well done rose , cra">
                    <div>
                      <img src="./img/projects/work_2.jpg" title="Ness Joshua" alt="Ness Joshua">
                      <div class="lightboxgallery-gallery-item-content">
                        <span class="lightboxgallery-gallery-item-title">Welding</span>
                      </div>
                    </div>
                  </a>
                  <a class="lightboxgallery-gallery-item" target="_blank" href="./img/projects/work_3.jpg" data-title="Ness Joshua" data-alt="Ness Joshua" data-desc="Well done rose , crafted by older dwarfs in midgard D">
                    <div>
                      <img src="./img/projects/work_3.jpg" title="Ness Joshua" alt="Ness Joshua">
                      <div class="lightboxgallery-gallery-item-content">
                        <span class="lightboxgallery-gallery-item-title">Welding</span>
                      </div>
                    </div>
                  </a>
                  <a class="lightboxgallery-gallery-item" target="_blank" href="./img/projects/work_4.jpg" data-title="Ness Joshua" data-alt="Ness Joshua" data-desc="Well done rose , crafted by older dwarfs in midgard xD, ">
                    <div>
                      <img src="./img/projects/work_4.jpg" title="Ness Joshua" alt="Ness Joshua">
                      <div class="lightboxgallery-gallery-item-content">
                        <span class="lightboxgallery-gallery-item-title">Welding</span>
                      </div>
                    </div>
                  </a>
                  <a class="lightboxgallery-gallery-item" target="_blank" href="./img/gallery/3.jpg" data-title="Ness Joshua" data-alt="Ness Joshua" data-desc="Well done rose , crafted by older dwarfs in midgard xD,Wel">
                    <div>
                      <img src="./img/gallery/3.jpg" title="Ness Joshua" alt="Ness Joshua">
                      <div class="lightboxgallery-gallery-item-content">
                        <span class="lightboxgallery-gallery-item-title">Welding</span>
                      </div>
                    </div>
                  </a>
                  <a class="lightboxgallery-gallery-item" target="_blank" href="./img/gallery/2.jpg" data-title="Metal" data-alt="Metal" data-desc="Well done rose , crafted by older dwarfs in midgard xD">
                    <div>
                      <img src="./img/gallery/2.jpg">
                      <div class="lightboxgallery-gallery-item-content">
                        <span class="lightboxgallery-gallery-item-title">Metal</span>
                      </div>
                    </div>
                  </a>
                  <a class="lightboxgallery-gallery-item" target="_blank" href="./img/gallery/3.jpg" data-title="Ness Joshua" data-alt="Ness Joshua" data-desc="Well done rose , crafted by older dwarfs in r">
                    <div>
                      <img src="./img/gallery/3.jpg" title="Ness Joshua" alt="Ness Joshua">
                      <div class="lightboxgallery-gallery-item-content">
                        <span class="lightboxgallery-gallery-item-title">Welding</span>
                      </div>
                    </div>
                  </a>
                  <div class="lightboxgallery-gallery clearfix">
                    <a class="lightboxgallery-gallery-item" target="_blank" href="./img/gallery/4.jpg" data-title="Metal Rose" data-alt="Metal Rose" data-desc="Well done rose , crafted by older dwarfs in midgard xD">
                      <div>
                        <img src="./img/gallery/4.jpg">
                        <div class="lightboxgallery-gallery-item-content">
                          <span class="lightboxgallery-gallery-item-title">Metal Rose</span>
                        </div>
                      </div>
                    </a>
                    <a class="lightboxgallery-gallery-item" target="_blank" href="./img/gallery/5.jpg" data-title="Metal" data-alt="Metal" data-desc="Well done rose , crafted by older dwarfs in midgard xD">
                      <div>
                        <img src="./img/gallery/5.jpg">
                        <div class="lightboxgallery-gallery-item-content">
                          <span class="lightboxgallery-gallery-item-title">Metal</span>
                        </div>
                      </div>
                    </a>
                    <a class="lightboxgallery-gallery-item" target="_blank" href="./img/gallery/6.jpg" data-title="Ness Joshua" data-alt="Ness Joshua" data-desc="Well done rose , crafted by older dwarfs in midgard xD,Well done rose , crafted by older dw">
                      <div>
                        <img src="./img/gallery/6.jpg" title="Ness Joshua" alt="Ness Joshua">
                        <div class="lightboxgallery-gallery-item-content">
                          <span class="lightboxgallery-gallery-item-title">Welding</span>
                        </div>
                      </div>
                    </a>
                    <a class="lightboxgallery-gallery-item" target="_blank" href="./img/projects/work_1.jpg" data-title="Ness Joshua" data-alt="Ness Joshua" data-desc="Well done rose , crafted by older dwarfs in midgard xD,Well ">
                      <div>
                        <img src="./img/projects/work_1.jpg" title="Ness Joshua" alt="Ness Joshua">
                        <div class="lightboxgallery-gallery-item-content">
                          <span class="lightboxgallery-gallery-item-title">Welding</span>
                        </div>
                      </div>
                    </a>
                    
                    <a class="lightboxgallery-gallery-item" target="_blank" href="/img/projects/work_2.jpg" data-title="Ness Joshua" data-alt="Ness Joshua" data-desc="Well done rose , crafted by older dwarfs in midgard xD,xD">
                      <div>
                        <img src="./img/projects/work_2.jpg" title="Ness Joshua" alt="Ness Joshua">
                        <div class="lightboxgallery-gallery-item-content">
                          <span class="lightboxgallery-gallery-item-title">Welding</span>
                        </div>
                      </div>
                    </a>
                    <a class="lightboxgallery-gallery-item" target="_blank" href="./img/projects/work_3.jpg" data-title="Ness Joshua" data-alt="Ness Joshua" data-desc="Well done rose , crafted by older dwarfs in midgardgard xD">
                      <div>
                        <img src="./img/projects/work_3.jpg" title="Ness Joshua" alt="Ness Joshua">
                        <div class="lightboxgallery-gallery-item-content">
                          <span class="lightboxgallery-gallery-item-title">Welding</span>
                        </div>
                      </div>
                    </a>
                    <a class="lightboxgallery-gallery-item" target="_blank" href="./img/projects/work_4.jpg" data-title="Ness Joshua" data-alt="Ness Joshua" data-desc="Well done rose , crafted by older dwarfs in midgard ">
                      <div>
                        <img src="./img/projects/work_4.jpg" title="Ness Joshua" alt="Ness Joshua">
                        <div class="lightboxgallery-gallery-item-content">
                          <span class="lightboxgallery-gallery-item-title">Welding</span>
                        </div>
                      </div>
                    </a>
                    <a class="lightboxgallery-gallery-item" target="_blank" href="./img/gallery/3.jpg" data-title="Ness Joshua" data-alt="Ness Joshua" data-desc="Well done rose , crafted by older dwarfs in midgard xD,">
                      <div>
                        <img src="./img/gallery/3.jpg" title="Ness Joshua" alt="Ness Joshua">
                        <div class="lightboxgallery-gallery-item-content">
                          <span class="lightboxgallery-gallery-item-title">Welding</span>
                        </div>
                      </div>
                    </a>
            </div>
          </div>
        </div>
        <!--
      	<div class="footer">
      		<p>© 2023 Keevitus «F.M. Welding»</p>
      		<img src="./img/footer/fb.svg" alt="facebook">
      	</div>
        -->

      	<script
      	  src="https://code.jquery.com/jquery-3.4.1.min.js"
      	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      	  crossorigin="anonymous">
      	</script>
      	<script src="./js/script.js"></script>
        <script src="./js/lightboxgallery-min.js"></script>

        <script type="text/javascript">
        jQuery(function($) {
          $(document).on('click', '.lightboxgallery-gallery-item', function(event) {
            event.preventDefault();
            $(this).lightboxgallery({
              showCounter: true,
              showTitle: true,
              showDescription: true
            });
          });
        });
        </script>
</body>
</html>