body, * {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body p, * p {
  margin: 0;
  font-size: 14px;
}

body h1, * h1 {
  font-size: 36px;
}

.active {
  color: #FFC100 !important;
}

.container {
  padding-bottom: 50px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.title h1 {
  color: #1E2D3B;
  margin-top: 70px;
}

.title hr {
  width: 100px;
  height: 10px;
  background-color: #FFC100;
  border: none;
  margin-bottom: 5%;
}

.header {
  width: 100%;
  background-color: #1E2D3B;
  color: #1E2D3B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 99;
  position: absolute;
  position: fixed;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_logo p {
  color: #fff;
  font-weight: 700;
  line-height: 64px;
  font-size: 30px;
}

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header_content a {
  text-decoration: none;
  color: #fff;
  line-height: 64px;
  padding-right: 30px;
  text-transform: capitalize;
  text-decoration: none;
}

.header_content a:hover {
  text-decoration: none;
  color: #FFC100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_content p:hover {
  color: #FFC100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header_select {
  line-height: 64px;
  font-size: 14px;
}

.header_select span {
  color: #fff;
}

.header_select a {
  color: #fff;
}

.header_select a:hover {
  color: #FFC100;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.hero {
  height: 100vh;
  background-color: #3D5975;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.hero .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero button {
  border: none;
  color: #fff;
  background-color: #FFC100;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 6px;
}

.hero button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #1E2D3B;
  color: #FFC100;
}

.service {
  background-color: #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  height: auto;
}

.service_block {
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}

.service_block img {
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.service_block_descr {
  background-color: #F1F3F4;
  color: #1E2D3B;
  padding: 20px 30px;
  min-height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 0 7px 14px rgba(0, 0, 0, 0.17), 0 5px 5px rgba(0, 0, 0, 0.11);
          box-shadow: 0 7px 14px rgba(0, 0, 0, 0.17), 0 5px 5px rgba(0, 0, 0, 0.11);
}

.service_block_descr:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service_block_descr h5 {
  color: #3D5975;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40vh;
}

.about_img {
  height: 350px;
  background: url(../img/weld.jpg) no-repeat;
  background-size: cover;
  border-radius: 2px;
}

.project {
  background-color: #FAFAFA;
  -ms-flex-line-pack: center;
      align-content: center;
  text-transform: uppercase;
}

.project_block {
  width: 100%;
  height: 300px;
  background: url(../img/gallery_bg.jpg) center no-repeat;
  border-radius: 2px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.9;
}

.project_block button {
  opacity: 0;
  padding: 10px 20px;
  font-size: 18px;
  text-transform: uppercase;
  border: 2px solid #FFC100;
  border-radius: 2px;
  background-color: none;
  color: #FFC100;
  background: none;
}

.project_block button:hover {
  color: #fff;
}

.project_block:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project_block:hover button {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.clients {
  min-height: 20vh;
  background-color: #F7F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-transform: uppercase;
}

.clients_descr {
  min-height: 30vh;
  background-color: #F7F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients_descr img {
  margin: 25px;
  width: auto;
}

.clients_descr img:hover {
  opacity: 0.5;
}

.contact_form {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_form h3 {
  color: #1E2D3B;
}

.contact_fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 90px 60px 60px 60px;
}

.contact_fields p, .contact_fields textarea, .contact_fields input {
  font-size: 12px !important;
}

.contact_fields a {
  text-decoration: none;
}

.contact_fields a:hover {
  text-decoration: none;
}

.contact_fields a:hover span {
  color: #FFC100;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact_fields span {
  font-weight: 700;
  font-size: 16px;
  color: #1E2D3B;
}

.contact_fields input {
  border: none;
  background-color: #F7F5F5;
  padding: 10px;
  margin: 5px 0px;
  color: #C6C6C6;
}

.contact_fields button {
  width: 35%;
  border: none;
  padding: 10px;
  background-color: #1E2D3B;
  color: #fff;
  font-weight: 700;
}

.contact_fields button:hover {
  background-color: #FFC100;
  color: #1E2D3B;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact_fields textarea {
  border: none;
  background-color: #F7F5F5;
  padding: 10px;
  margin: 5px 0px;
  color: #C6C6C6;
  resize: none;
}

.contact_fields .form-button {
  text-transform: uppercase;
}

.contact_fields .form input, .contact_fields textarea {
  width: 100%;
}

.contact_info {
  padding: 90px 60px 60px 60px;
  font-size: 12px !important;
}

.contact_info p {
  font-size: 12px !important;
}

.contact_info a {
  text-decoration: none;
  color: #FFC100;
}

.contact_info a:hover {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mobile_info {
  display: none;
}

.footer {
  height: 40px;
  background-color: #1E2D3B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 35px;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #fff;
}

.footer p {
  line-height: 40px;
  font-size: 12px !important;
}

.footer i, .footer a {
  color: #fff;
  line-height: 40px;
  font-size: 25px;
}

.footer i:hover, .footer a:hover {
  color: #C6C6C6;
}

/*POPUP and SEND*/
.overlay {
  position: absolute;
  width: 100%;
  height: 60vh;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  margin-top: -38%;
}

.popup {
  position: absolute;
  width: 300px;
  height: 180px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
  background-color: #FFC100;
  color: #fff;
  text-align: center;
}

.close-popup {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.close-popup:before {
  content: '';
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close-popup:after {
  content: '';
  background-color: #000;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -4px;
}

@media (max-width: 960px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .mapouter, .gmap_canvas {
    width: 700px !important;
  }
}

@media (max-width: 768px) {
  .header {
    display: none;
  }
  .burger_menu {
    display: block;
  }
  .burger_content, .burger_close {
    display: none;
  }
  .mapouter, .gmap_canvas {
    width: 600px !important;
  }
  .about_content__text {
    font-size: 14px;
    margin: 0;
    padding: 10px;
  }
  .about_content__img {
    display: none;
  }
  .mobile_info {
    display: block;
  }
}

@media (max-width: 760px) {
  .contact_fields {
    width: 100%;
    padding: 10px;
  }
  .contact_info {
    display: none;
  }
}

@media (max-width: 630px) {
  .mapouter, .gmap_canvas {
    width: 400px !important;
  }
  .about_img img {
    display: none;
  }
  .main h1 {
    color: #FFC100;
  }
  video, #myVideo {
    display: none;
  }
  .fullscreen-video-wrap {
    background: url(../img/header/weld.jpeg) center no-repeat;
    background-size: cover;
  }
  .project_block {
    height: 70vh;
  }
  .project_block:nth-child(odd) {
    display: none;
  }
}

@media (max-width: 500px) {
  .form input, textarea {
    width: 85%;
  }
}

@media (max-width: 425px) {
  .mapouter, .gmap_canvas {
    width: 300px !important;
  }
  .contact_fields {
    width: 100%;
    padding: 10px;
    margin-left: 20px;
  }
  .contact_info {
    display: none;
  }
  .about {
    min-height: auto;
  }
  .about_descr__name {
    margin-bottom: 40px;
    padding: 10px;
  }
  .about_descr__name hr {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */