{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic" rel="stylesheet">
	<title>Weldex Group OÜ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					<div class="header_logo">
						<a href="{% url 'post_list' %}"><p>Weldex.</p></a>
					</div>
				</div>
				<div class="col-md-8">
					<div class="header_content">
						<a href="{% url 'post_list' %}"><p>esileht</p></a>
						<a href="#service"><p>Teenused</p></a>
						<a href="#about"><p>meist</p></a>
						<a href="{% url 'gallery' %}" id="nav_projects"><p>projektid</p></a>
						<a href="#contact"><p>kontakt</p></a>
					</div>
				</div>
				<div class="col-md-2">
					<div class="header_select">
						<a href="#" class="active">EE</a> 
						<span>/</span>
						<a href="#">RU</a> 
						<span>/</span>
						<a href="#">EN</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="burger_menu">
        	<img class="burger_open" src="../../static/img/burger/menu.svg" alt="MENU">
        	<img class="burger_close" src="../../static/img/burger/close.svg" alt="CLOSE">
        	<div class="burger_content">
        		<a href="{% url 'post_list' %}"><p>esileht</p></a>
        		<a href="#service"><p>Teenused</p></a>
        		<a href="#about"><p>meist</p></a>
        		<a href="{% url 'gallery' %}"><p>projektid</p></a>
        		<a href="#contact"><p>kontakt</p></a>
			<a class="burger_content_gold" href="./eng.html"><p>ENG</p></a>
			<a class="burger_content_gold" href="./rus.html"><p>RUS</p></a>
        	</div>
	</div>
	
	{% block content %}
    {% endblock %}

  	<div class="footer">
          <div class="overlay js-overlay-thank-you">
            <div class="popup js-thank-you">
              <h2>Tänud!</h2>
              <div class="close-popup js-close-thank-you"></div>
            </div>
          </div>
      		<p>© 2020 «Welding Group OÜ» Kõik õigused on kaitstud.</p>
      		<a href="https://www.facebook.com/fmwelding/" target="_blank"><i class="fab fa-facebook"></i></a>
      	</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
		<script src="../../static/js/script.js"></script>
</body>
</html>
