{% extends 'post/base.html' %}
{% block content %}
    <div class="gallery">
      	<div class="container-fluid">
          <div class="row">
              {% for gallerys in gallerys %}
                  <div class="col-md-4">
                      <a data-fancybox="gallery" href="{{ gallerys.image.url}}">
                          <img src="{{ gallerys.image.url}}" alt="{{ gallerys.title }}">
                      </a>
                  </div>
              {% endfor %}
                  
          </div>
      </div>
    </div>
{% endblock %}