{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic" rel="stylesheet">
	<title>Weldex Group OÜ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
					<div class="header_logo">
						<a href="{% url 'post_list' %}"><p>Weldex.</p></a>
					</div>
				</div>
				<div class="col-md-8">
					<div class="header_content">
						<a href="{% url 'post_list' %}"><p>Главная</p></a>
						<a href="#service"><p>Услуги</p></a>
						<a href="#about"><p>О Нас</p></a>
						<a href="{% url 'gallery' %}" id="nav_projects"><p>проекты</p></a>
						<a href="#contact"><p>контакт</p></a>
					</div>
				</div>
				<div class="col-md-2">
					<div class="header_select">
						<a href="{% url 'post_list' %}">EE</a> 
						<span>/</span>
						<a href="{% url 'rus' %}"class="active">RU</a> 
						<span>/</span>
						<a href="{% url 'eng' %}">EN</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="burger_menu">
        	<img class="burger_open" src="../../static/img/burger/menu.svg" alt="MENU">
        	<img class="burger_close" src="../../static/img/burger/close.svg" alt="CLOSE">
        	<div class="burger_content">
        		<a href="{% url 'post_list' %}"><p>Главная</p></a>
        		<a href="#service"><p>Услуги</p></a>
        		<a href="#about"><p>о нас</p></a>
        		<a href="{% url 'gallery' %}"><p>проекты</p></a>
        		<a href="#contact"><p>контакт</p></a>
			<a class="burger_content_gold" href="{% url 'post_list' %}"><p>EE</p></a>
			<a class="burger_content_gold" href="{% url 'rus' %}"><p>RU</p></a>
			<a class="burger_content_gold" href="{% url 'eng' %}"><p>EN</p></a>
        	</div>
	</div>
    {% block content %}
    	<div class="hero" id="hero">
    		<div class="container-fluid">
    			<div class="row">
    				<h1>Weldex Group OÜ</h1>
    				<button>О нас</button>
    			</div>
    		</div>
    	</div>
    	<div class="service" id="service">
    			<div class="container">
    					<div class="title" id="service">
    							<h1>Услуги</h1>
    							<hr>
    						</div>
    					<div class="row">
                        {% for post in posts %}
    						<div class="col-xs-12 col-sm-6 col-md-4">
    							<div class="service_block">
    							<div class="service_block_descr">
    								<h5>{{ post.title }}</h5>
    								<p>{{ post.text }}</p>
									<img src="{{ post.image.url}}" alt="{{ post.title }}">
    							</div>
    						</div>
    						</div>
                    {% endfor %}
    					</div>
    				</div>
    	</div>
    
    	<div class="about" id="about">
    		<div class="container">
    			<div class="title" id="about">
    				<h1>meist</h1>
    				<hr>
    			</div>
    			<div class="row">
    				<div class="col-md-8">
    					<div class="about_descr">
    						<p>Meie väärtused: Kiirus, kvaliteet, tehnoloogilisus. Missioon: Ettevõtte areng innovatsioonide kasutuselevõtmise kaudu, keskendudes alati tarbijate vajadustele ja soovidele. Visioon: Saada metallitööstuse valdkonna ekspertide meeskonnaks</p>
    						<p>2017.aastal asutatud firma F.M Welding OÜ pakub teenuseid metallitööstuse ja sepisekunsti valdkondades.</p>
    						<p>Tänapäevased professionaalsed tööriistad, kõrge kvalifikatsiooniga spetsialistid, tingimuste ja normatiivsete ettekirjutuste range järgimine – need on kriteeriumid, mis tagavad keevitustööde õnnestumise.Välimuse esinduslikkuse säilimine keevisõmbluste kõrge tugevusteguri juures on tähtsaim tingimus, mille auto remontimise käigus ette tulevate keevitustöödega tegelev meister peab täitma. Keevitamise tehnoloogilise protsessi edukuse suudavad tagada ainult filigraanne täpsus ja professionaalne lähenemine selle kategooria tööde teostamisele.</p>
    					</div>
    				</div>
    				<div class="col-md-4">
    					<div class="about_img">
							
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
		<div class="project" id="project">
				<div class="container">
					<div class="title" id="projects">
						<h1>Projektid</h1>
						<hr>
					</div>
					<div class="row">
						<div class="col-md-12">
						<div class="project_block">
								<a href="{% url 'gallery' %}"><button>Ava Galerii</button></a>
						</div>
						</div>
					</div>
				</div>
		</div>
		<div class="clients" id="clients">
			<div class="container">
					<div class="title">
						<h1>Meie kliendid</h1>
						<hr>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="clients_descr">
								<img src="../../static/img/clients/merko.png" alt="merko">
								<img src="../../static/img/clients/maru.png" alt="maru">
								<img src="../../static/img/clients/adven.png" alt="adven">
								<img src="../../static/img/clients/logicon.png" alt="logicon">
								<img src="../../static/img/clients/tavepro.png" alt="tavepro">
								<img src="../../static/img/clients/moodul.png" alt="moodul">
							</div>
						</div>
					</div>
				</div>
		</div>
		<div class="contact" id="contact">
			<div class="container-fluid">
					<div class="title">
						<h1>kontakt</h1>
						<hr>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="contact_descr">
								<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="390" id="gmap_canvas" src="https://maps.google.com/maps?q=Tornim%C3%A4e%205%2C%2010145%20Tallinn&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.bitgeeks.net">bitgeeks</a></div><style>.mapouter{position:relative;text-align:right;height:390px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:390px;width:100%;}</style></div>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row">

						<div class="col-md-6">
							<div class="contact_fields">
								<h3>Vastame Teie küsimustele</h3>
								<p>Hea meelega vastame Teie küsimustele telefoni teel: <br> <a href="tel:+37256906471"><span>+372 56 906 471</span></a><br>Samuti võite saata oma küsimused allpool oleva vormi abil.<br></p>
							
							<form class="form" id="form" name="form">
							<input class="wow animated slideInLeft" type="text" placeholder="Nimi" name="name" required>
							<input class="wow animated slideInLeft" type="text" placeholder="e-mail" name="mail" required>
							<textarea class="wow animated slideInLeft" type="text" cols="30" rows="10" placeholder="Kommentaar" name="message" required></textarea>
							<button class="form-button contact_button wow animated slideInLeft">Esita</button>
							</form>
						</div>
						</div>
						<div class="col-md-6">
							<div class="mobile_info">
								<p>Võidujooksu 7a </p>
								<p>Tornimäe 5, 10145 Tallinn</p>
								<p>info@fmwelding.ee</p>
							</div>
							<div class="contact_info">
								<h3>Kontakt</h3>
								<p></p>
							<p>Tornimäe 5, 10145 Tallinn</p>
							<p>info@fmwelding.ee</p>
							<p>+372 56 906 471</p>
							<br>
							<h3>Soovite teha koostööd?</h3>
							<p>Palun saatke oma soovid ja ettepanekud aadressil:&nbsp;<a href="">info@fmwelding.ee</a></p>
							<br>
							<h5>Helistage:<a href=""> +372 56 906 471</a></h5>
							</div>
						</div>
						</div>
					</div>
			</div>
		</div>
          	
{% endblock %}
  	<div class="footer">
          <div class="overlay js-overlay-thank-you">
            <div class="popup js-thank-you">
              <h2>Tänud!</h2>
              <div class="close-popup js-close-thank-you"></div>
            </div>
          </div>
      		<p>© 2020 «Welding Group OÜ» Kõik õigused on kaitstud.</p>
      		<a href="https://www.facebook.com/fmwelding/" target="_blank"><i class="fab fa-facebook"></i></a>
      	</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
		<script src="../../static/js/script.js"></script>
</body>
</html>